{% extends './layout.html' %}

{% block about-active %}class="active"{% endblock %}

{% block content %}

<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>About Us</h2>
	<i class="fa fa-info-circle cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-6 col-md-offset-3 padded-top-large">


		{% for entity in entities %}
			{% for term in entity %}
			<p class="about-paragraph">{{ term.val }}</p>
			{% endfor %}
		{% endfor %}


		<br>
		<br>
		<br>
		<br>


	</div>
</div>
{% endblock %}