{% extends './layout.html' %}

{% block css %}
<script type="text/javascript" src="/js/angular.js"></script>
<script src="/js/admin/adminController.js"></script>
{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Adminstation Panel</h2>
	<i class="fa fa-cogs cm-icon"></i>
	</div>
	</div>
</div>
<br><br><br>
<div class="container" ng-app="adminApp">
<div ng-controller="AdminCtrl">
<a type="button" class="btn logout-btn" href="/logout">Logout</a>


<ul class="nav nav-tabs nav-justified">
	<!-- <li ng-click="view = {}; view.contacts = true; currtype = ''" ng-class="{active:view.contacts}">Messages</li> -->
	<li ng-click="view = {}; view.recentTransactions = true; currtype = ''" ng-class="{active:view.recentTransactions}">Recent Transactions</li>
	<li ng-click="saved = false; view = {}; view.meta = true; currtype = ''" ng-class="{active:view.meta}">Meta</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = team.list; currtype = 'team'; currtypeDisplay = 'Team'; currFirst = 'Name'; currOther='Term'" ng-class="{active:currtype == 'team'}">Team</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = lawyers.list; currtype = 'lawyers'; currtypeDisplay = 'Lawyers'; currFirst = 'Name'; currOther='Term'" ng-class="{active:currtype == 'lawyers'}">Lawyers</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = appraisers.list; currtype = 'appraisers'; currtypeDisplay = 'Appraisers'; currFirst = 'Name'; currOther='Term'" ng-class="{active:currtype == 'appraisers'}">Appraisers</li>

	<li ng-click="saved = false; view = {}; view.entities = true;currlist = investment.list; currtype = 'investment'; currtypeDisplay = 'Investment Loan Criteria'; currFirst = 'Criteria'; currOther='Value'" ng-class="{active:currtype == 'investment'}">Investment Loan Criteria</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = residential.list; currtype = 'residential'; currtypeDisplay = 'Residential Loan Criteria'; currFirst = 'Criteria'; currOther='Value'" ng-class="{active:currtype == 'residential'}">Residential Loan Criteria</li>
	
</ul>
<ul class="nav nav-tabs nav-justified">
<li ng-click="saved = false; view = {}; view.entities = true;currlist = about.list; currtype = 'about'; currtypeDisplay = 'About'; currFirst = 'First Paragraph'; currOther='Other Paragraph'" ng-class="{active:currtype == 'about'}">About</li>

<li ng-click="saved = false; view = {}; view.entities = true;currlist = glossaryquestions.list; currtype = 'glossaryquestions'; currtypeDisplay = 'Glossary Questions'; currFirst = 'Question'; currOther='Answer'" ng-class="{active:currtype == 'glossaryquestions'}">Glossary Questions</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = glossaryterms.list; currtype = 'glossaryterms'; currtypeDisplay = 'Glossary Terms'; currFirst = 'Term'; currOther='Definition'" ng-class="{active:currtype == 'glossaryterms'}">Glossary Terms</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = credit.list; currtype = 'credit'; currtypeDisplay = 'Credit Bureau Links'; currFirst = 'Display Text'; currOther='Link'" ng-class="{active:currtype == 'credit'}">Credit Bureau Links</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = massgov.list; currtype = 'massgov'; currtypeDisplay = 'Mass Gov Links'; currFirst = 'Display Text'; currOther='Link'" ng-class="{active:currtype == 'massgov'}">Mass Gov Links</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = owner.list; currtype = 'owner'; currtypeDisplay = 'Owner Occupied'; currFirst = 'Question'; currOther='Answer'" ng-class="{active:currtype == 'owner'}">Owner Occupied</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = commercial.list; currtype = 'commercial'; currtypeDisplay = 'Commercial'; currFirst = 'Question'; currOther='Answer'" ng-class="{active:currtype == 'commercial'}">Commercial</li>
	<li ng-click="saved = false; view = {}; view.entities = true;currlist = construction.list; currtype = 'construction'; currtypeDisplay = 'Construction'; currFirst = 'Question'; currOther='Answer'" ng-class="{active:currtype == 'construction'}">Construction</li>
</ul>

<div ng-show="view.contacts">
	<h2>Messages</h2>
	<input class="form-control search-bar" ng-model="contacts.query" placeholder="Search">
	<div class="message-view-options-wrapper">
		<div class="btn btn-default" ng-class="{ 'btn-inactive':contacts.viewArchive }" ng-click="contacts.viewArchive = false">Current Messages</div>
		<div class="btn btn-default" ng-class="{ 'btn-inactive':!contacts.viewArchive }" ng-click="contacts.viewArchive = true">Archived Messages</div>
	</div>
	<hr>
  	<div class="col-md-12" ng-repeat="contact in contacts.list | filter:{archived:contacts.viewArchive} | filter:contacts.query | orderBy:time:reverse">
		<div class="message-wrapper">
			<div><b>Submitted: [[ contact.date ]]</b></div>
			<div class="archive-btns-wrapper">
				<div class="btn btn-default" ng-show="!contact.archived" ng-click="toggleArchive(contact)">Archive</div>
				<div class="btn btn-default" ng-show="contact.archived" ng-click="toggleArchive(contact)">Unarchive</div>
				<div class="btn btn-danger" ng-show="contact.archived" ng-click="deleteContact(contact)">Delete</div>
			</div>
		    <div><b>From:</b> [[ contact.name ]]</div>
			<div><b>Email:</b> [[ contact.email ]]</div>
			<div><p>[[ contact.message ]]</p></div>
		</div>
  </div>
</div>

<div ng-show="view.recentTransactions">
	<h2>Recent Transactions</h2>
	<div class="add-transaction-container">
		<h4>Add New Transaction</h4>
		<form role="form" class="add-transaction-form"  enctype="multipart/form-data">
			<div class="form-group">
			    <label>Title *</label>
			    <input class="form-control" name="name" ng-model="newTransaction.name">
		  	</div>
		  	<div class="form-group">
			    <label>Description *</label>
			    <input class="form-control" name="address" ng-model="newTransaction.address">
		  	</div>
		  	<div class="form-group">
			    <label>Image *</label>
		  	<input type="file" name="file" id="transactionUploader" onchange="console.log(angular.element(this).scope());angular.element(this).scope().uploadFile(this.files)"/>

		  	</div>
		  	<div class="form-group">
			    <label>Thumbnail Height *</label>
			    <input class="form-control" name="address" ng-model="newTransaction.thheight" placeholder="200">
		  	</div>
		  	<div class="form-group">
			    <label>Thumbnail Width *</label>
			    <input class="form-control" name="address" ng-model="newTransaction.thwidth" placeholder="300">
		  	</div>
		  	<button class="btn btn-default" ng-click="createNewTransaction(newTransaction);">Submit</button>

		</form>
	</div>
	<hr>
	<input class="form-control search-bar" ng-model="transaction.query" placeholder="Search">
	<div class="update-order-wrapper" ng-show="transactions.list.length > 1">
		<div class="btn btn-default" ng-click="transactions.updateOrder = !transactions.updateOrder" ng-show="!transactions.updateOrder">Update Listing Order</div>
		<div class="btn btn-default" ng-click="saveReorder(transactions, 'transaction')" ng-show="transactions.updateOrder">Save Order</div>
		<div class="btn btn-default" ng-click="cancelReorder(transactions)" ng-show="transactions.updateOrder">Cancel</div>
	</div><br><br>
	<hr>
  <div ng-repeat="transaction in transactions.list | filter:transaction.query | orderBy:'positionTemp'">
  		<div class="container">
  			<div class="row">
	  			<div class="col-md-5">
	  				<img ng-src="uploads/[[ transaction.img ]]" class="transaction-img" style="width:[[ transaction.thwidth ]]px; height:[[ transaction.thheight ]]px"></img>
	  			</div>
	  			<div class="col-md-7">
	  				<div ng-show="!transaction.update">
	  				<h3>[[ transaction.positionTemp ]]</h3>
					<h3>[[ transaction.name ]]</h3>
					<h5>[[ transaction.address ]]</h5>
					<h5>[[ transaction.thheight ]]</h5>
					<h5>[[ transaction.thwidth ]]</h5>
					</div>
					<br><br>
					<div class="update-container" ng-show="transaction.update">
					<form role="form" class="add-transaction-form form-horizontal">
						<div class="form-group">
						    <label>Name</label>
						    <input class="form-control" name="name" ng-model="transaction.nameTemp">
					  	</div>
					  	<div class="form-group">
						    <label>Address</label>
						    <input class="form-control" name="address" ng-model="transaction.addTemp">
					  	</div>
					  	<div class="form-group">
					    <label>Thumbnail Height</label>
						    <input class="form-control" name="address" ng-model="transaction.thheightTemp" placeholder="200">
					  	</div>
					  	<div class="form-group">
						    <label>Thumbnail Width</label>
						    <input class="form-control" name="address" ng-model="transaction.thwidthTemp" placeholder="300">
					  	</div>

					  	<button class="btn btn-default" ng-click="updateTransaction(transaction)">Save</button>
					  	<button class="btn btn-default" ng-click="transaction.update = false">Cancel</button>
					</form>
					</div>
					<hr>
					<div class="update-btn-container" ng-show="!transactions.updateOrder">
						<div class="btn btn-default" ng-click="deleteItem(transaction, 'transaction', transactions)">Delete</div>
						<div class="btn btn-default" ng-click="transaction.update = true">Update</div>
					</div>

					<div class="updateOrder-btn-container" ng-show="transactions.updateOrder">
						<div class="btn btn-default" ng-disabled="transaction.positionTemp == 0" ng-click="moveToTop(transactions.list, transaction.positionTemp)"><i class="fa fa-angle-double-up"></i></div>
						<div class="btn btn-default" ng-disabled="transaction.positionTemp == 0" ng-click="moveUp(transactions.list, transaction.positionTemp)"><i class="fa fa-angle-up"></i></div>
						<div class="btn btn-default" ng-disabled="transaction.positionTemp == transactions.list.length - 1" ng-click="moveDown(transactions.list, transaction.positionTemp)"><i class="fa fa-angle-down"></i></div>
						<div class="btn btn-default" ng-disabled="transaction.positionTemp == transactions.list.length - 1" ng-click="moveToBottom(transactions.list, transaction.positionTemp)"><i class="fa fa-angle-double-down"></i></div>
					</div>
					<hr>
					<br>
	  			</div>
  			</div>
  		</div>
	
	<br>
  </div>
</div>

<div ng-show="view.meta">
	<h2 style="text-align: center;">Meta Information</h2>

		<div class="btn btn-success" ng-click="saveMeta()">Save</div>
		<span ng-show="saved" class="saved">Saved.</span>
		<div class="btn btn-error cancel-btn" ng-click="cancelMeta()">Cancel</div>
		<br><br>

	<!-- for entity in entities -->
	<div class="entity-container">
		<div class="form-group">
			<label>Banner Title</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.bannerTitle">
	  	</div>
	  	<div class="form-group">
			<label>Banner Subtext Big</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.bannerSubtextBig">
	  	</div>
	  	<div class="form-group">
			<label>Banner Subtext Small</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.bannerSubtextSmall">
	  	</div>
	  	<div class="form-group">
			<label>Home About Header</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeAboutHeader">
	  	</div>
	  	<div class="form-group">
			<label>Home About Text</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeAboutText">
	  	</div>


	  	<div class="form-group">
			<label>Home Services Header</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSectionsHeader">
	  	</div>


	  	<div class="form-group">
			<label>Home Service 1 Header</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection1Header">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 1 Text</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection1Text">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 1 Icon</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection1Icon">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 1 Link</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection1Link">
	  	</div>

	  	
	  	<div class="form-group">
			<label>Home Service 2 Header</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection2Header">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 2 Text</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection2Text">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 2 Icon</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection2Icon">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 2 Link</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection2Link">
	  	</div>


	  	<div class="form-group">
			<label>Home Service 3 Header</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection3Header">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 3 Text</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection3Text">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 3 Icon</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection3Icon">
	  	</div>
	  	<div class="form-group">
			<label>Home Service 3 Link</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.homeSection3Link">
	  	</div>


	  	<div class="form-group">
			<label>NMLS Number</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.nmlsNumber">
	  	</div>
	  	<div class="form-group">
			<label>Address</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.address">
	  	</div>
	  	<div class="form-group">
			<label>Phone</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.phone">
	  	</div>
	  	<div class="form-group">
			<label>Fax</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.fax">
	  	</div>
	  	<div class="form-group">
			<label>Email</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.email">
	  	</div>
	  	<div class="form-group">
			<label>Payment Link</label>
		    <input class="form-control" type="text" name="input" ng-model="meta.paymentLink">
	  	</div>
	</div>

		<div class="btn btn-success" ng-click="saveMeta()">Save</div>
		<span ng-show="saved" class="saved">Saved.</span>
		<div class="btn btn-error cancel-btn" ng-click="cancelMeta()">Cancel</div>
</div>


<div ng-show="view.entities">
	<h2 style="text-align: center;">[[currtypeDisplay]]</h2>

		<div class="btn btn-success" ng-click="saveEntities(currtype)">Save</div>
		<span ng-show="saved" class="saved">Saved.</span>
		<div class="btn btn-error cancel-btn" ng-click="cancelEntities(currtype)">Cancel</div>
		<br><br>

		<!-- [[currlist]] -->

	<!-- for entity in entities -->
	<div class="entity-container" ng-repeat="entity in currlist track by $index" ng-init="outerIndex = $index">
		<div ng-repeat="term in entity track by $index" ng-init="innerIndex = $index">
			<div class="form-group">
			    <label ng-if="$first">[[currFirst]]: </label>
				<label ng-if="!$first">[[currOther]]: [[$index]]</label>
			    <input class="form-control" type="text" name="input" ng-model="term.val">
		  	</div>
			<span ng-if="!$first">
  				<div class="btn btn-default term-btn" ng-click="deleteTerm(currtype, outerIndex, innerIndex)">Delete [[currOther]]</div>
  				<br><br>
			</span>
			
		</div>

		<div ng-if="(currtype != 'investment' && currtype != 'residential' && currtype != 'credit' && currtype != 'massgov') || entity.length < 2" class="btn btn-default" ng-click="addTerm(currtype, outerIndex)">Add [[currOther]]</div>


		<div class="btn btn-default" ng-click="deleteEntity(currtype, outerIndex)">Delete Entity</div>
		<div class="btn btn-success" ng-click="saveEntities(currtype)">Save</div>
		<span ng-show="saved" class="saved">Saved.</span>
	</div>


		<div class="btn btn-default" ng-click="addEntity(currtype)">Add Entity</div><br><br>
		<div class="btn btn-success" ng-click="saveEntities(currtype)">Save</div>
		<span ng-show="saved" class="saved">Saved.</span>
		<div class="btn btn-error cancel-btn" ng-click="cancelEntities(currtype)">Cancel</div>
</div>


</div>
{% endblock %}