{% extends './layout.html' %}

{% block resources-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Appraisers List</h2>
	<i class="fa fa-eye cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1 padded-top">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->

<p><b>Supported Appraisers</b></p><br>

  <div class="employee-container col-md-6">
<h4>Michael Katzeff</h4>
<h5>Asset Protection Group</h5>
<h5>1172 Beacon Street</h5>
<h5>Newton, MA 02461-1147</h5>
<h5>Phone: (617) 965-0550</h5>
<h5>Fax:     (617) 969-0181</h5>
<h5>http://www.apg-online.com/ </h5>
</div>

<div class="employee-container col-md-6">
<h4>Brad Stern</h4>
<h5>Chestnut Hill Appraisals Services, Inc. </h5>
<h5>67 Brookline Street</h5>
<h5>Chestnut Hill, MA 02467-3041</h5>
<h5>Phone: (617) 244-4747 (Office)</h5>
<h5>           (617) 592-2784 (Mobile)</h5>
<h5>Fax:     (617) 244-9461</h5>
<h5>http://www.chestnuthillappraisal.com/ </h5>
</div>
<div class="employee-container col-md-6">
<h4>Bill Cleary</h4>
<h5>Martha’s Vineyard Appraisal</h5>
<h5>47 Bold Meadow Road</h5>
<h5>Edgartown, MA 02539-6533</h5>
<h5>Phone: (508) 627-5121</h5>
<h5>Fax:     (508) 627-9076</h5>
</div>
<div class="employee-container col-md-6">
<h4>Robert Cowan</h4>
<h5>William Raveis			</h5>
<h5>Atlantic Residential Appraisal</h5>
<h5>11 Atlantic Avenue			62 Leicester Rd</h5>
<h5>Marblehead, MA 01945		Marblehead, MA 01945</h5>
<h5>Business: (781) 696-4814		www.atlanticappraisal.net</h5>
</div>
	</div>
</div>
{% endblock %}