{% extends './layout.html' %}

{% block brokers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Closing Lawyers List</h2>
	<i class="fa fa-comments-o cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1 padded-top">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->

<p><b>Recommended Closing Attorneys</b></p><br>

<div class="employee-container col-md-6">
<h4>Gould & Gould, LLP</h4>
<h5>62 Walnut Street</h5>
<h5>Wellesley, MA 02481</h5>
<h5>Office: (781) 235-6363</h5>
</div>
<div class="employee-container col-md-6">
<h4>Brown & Knight</h4>
<h5>180 Wells Ave, Suite 106</h5>
<h5>Newton Centre, MA 02459</h5>
<h5>Office: (617) 928-3300</h5>
<h5>Fax:     (617) 928-3301</h5>
</div>
<div class="employee-container col-md-6">
<h4>Barr & Cole</h4>
<h5>1172 Beacon Street, Suite 202</h5>
<h5>Newton, MA 02461</h5>
<h5>Office: (617) 969-1381</h5>
<h5>Fax:     (617) 969-0181</h5>
</div><br>

<div class="col-md-12">
<h5>We also support the use of your own attorney</h5><br>
</div>
	</div>
</div>
{% endblock %}