{% extends './layout.html' %}

{% block borrowers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Construction Loans</h2>
	<i class="fa fa-building cm-icon"></i>
	</div>
	</div>
</div>

<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2 padded-top">

	<p><b><a href="loan-criteria#investment">View Commercial Loan Criteria</a></b></p><br>


{% for entity in entities %}
{% for term in entity %}
{% if loop.first %}
<h4>{{ term.val }}</h4><ul>
{% else %}
<li>{{ term.val }}</li>
{% endif %}
{% endfor %}
</ul><br>
{% endfor %}


<!-- 	<h4>Do I need to work with a mortgage broker?</h4>
<ul><li>You may contact us directly or go through a broker.</li></ul><br>
<h4>How long does the process take?</h4>
<ul><li>Most loans are closed within 3-4 weeks.</li></ul><br>
<h4>Are there upfront fees?</h4>
<ul><li>There is a $500 commitment fee and the consumer is responsible for paying the appraiser as well.</li></ul><br>
<h4>Can I bring my own appraisal?</h4>
<ul><li>Yes. If you have a recent appraisal, it will be reviewed and may reduce the fee for the new appraisal.</li></ul><br>
<h4>Is a 21E Environmental Report required?</h4>
<ul><li>Phase I studies will be required for all properties which have environmental exposure, such as: gas station, industrial sites, and auto service. Further testing will be required as indicated in Phase I.</li></ul><br>
<h4>What information will be required?</h4>
<ul><li>A 1003 loan application form </li></ul>
<ul><li>A credit report (to be obtained by your brother)</li></ul>
<ul><li>Proof of sufficient income based on verifiable income and all monthly expenses.</li></ul><br>
<h4>What additional information may be required?</h4>
<p>Dependent on your situation, you may require forms such as:</p>
<ul><li>Divorce decrees, probate documents, employment contracts, and leases</li></ul><br>
<h4>How much can I borrow?</h4>
<ul><li>You can borrow up to 50% LTV (loan-to-value)</li></ul><br> -->

	</div>
</div>
{% endblock %}