{% extends './layout.html' %}

{% block brokers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Credit Bureau Websites</h2>
	<i class="fa fa-comments-o cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2 padded-top">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->


  <p><b>If you would like to check your credit score or dispute an entry on your credit history, you may do so using the following links: </b></p><br>

  <ul>
<li><a href="https://www.Equifax.com" target="_blank">www.Equifax.com</a></li>
<li><a href="https://www.transunion.com" target="_blank">www.Transunion.com</a></li>
<li><a href="https://www.Experian.com" target="_blank">www.Experian.com</a></li>
</ul>

	</div>
</div>
{% endblock %}