{% extends './layout.html' %}

{% block borrowers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Loan Criteria</h2>
	<i class="fa fa-list-ol cm-icon"></i>
	</div>
	</div>
</div>
<div class="img-background">
<div class="container criteria-container">
	<div class="col-md-10 col-md-offset-1 padded-top">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->

<!-- First we want the interest rate -->

<!-- <div class="box effect2">
	<h2>Interest Rates 7.9% to 9.9%</h2>
</div> -->

<!-- next we want some quick facts -->
<!-- <div class="row interest-info-row">
	<div class="col-md-4">
		<h4 class="criteria-header">Property Types</h4>
		<hr class="criteria-hr">
		<ul>
			<li>Single family (SFR)</li>
			<li>2 – 4 Family (Multi-Family)</li>
			<li>Commercial</li>
			<li>Land</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h4 class="criteria-header">Loan Types</h4>
		<hr class="criteria-hr">
		<ul>
			<li>Single family (SFR)</li>
			<li>2 – 4 Family (Multi-Family)</li>
			<li>Commercial</li>
			<li>Land</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h4 class="criteria-header">Transaction Types</h4>
		<hr class="criteria-hr">
		<ul>
			<li>Single family (SFR)</li>
			<li>2 – 4 Family (Multi-Family)</li>
			<li>Commercial</li>
			<li>Land</li>
		</ul>
	</div>
</div> -->

<!-- <div class="col-md-6 col-md-offset-3 criteria-table-wrapper"> -->

<p class="criteria-description">Please see the tables below for a detailed account of the Residential and Commercial loans we provide.</p>
<div class="criteria-tabs">
<ul class="nav nav-tabs">
  <li role="presentation" id="investment-button"><a>Investment Non-Owner Occupied</a></li>
  <li role="presentation" id="residential-button"><a>Residential Owner Occupied</a></li>
</ul>
</div>

<div class="box2 effect8">
	<div class="investment-criteria">
	<h3 id="loan-parameters-header">Investment Loan Parameters</h3>
	<table class="loan-parameters-table">
		<tbody>
			<tr>
				<td>Loan Amount</td><td>$100,000 to $200,000</td>
			</tr>
			<tr>
				<td>Loan Term/Amortization</td><td>12 month interest only</td>
			</tr>
			<tr>
				<td>Maximum LTV</td><td>50% LTV</td>
			</tr>
			<tr>
				<td>Subordinated Financing</td><td>Yes, 20% Down, 30% Seller’s Second Mortgage</td>
			</tr>
			<tr>
				<td>Minimum Fico Score</td><td>N/A</td>
			</tr>
			<tr>
				<td>Fixed Period</td><td>1 Year</td>
			</tr>
			<tr>
				<td>Eligible Borrower</td><td>C-Corp, LLC, LP/LLP, S-Corp</td>
			</tr>
			<tr>
				<td>Tax and Insurance Escrows</td><td>Monthly deposits</td>
			</tr>
			<tr>
				<td>Guaranty</td><td>Yes</td>
			</tr>
			<tr>
				<td>Prepayment</td><td>None</td>
			</tr>
			<tr>
				<td>Transaction Type</td><td>Purchase, Refinance, Cash Out Refinance</td>
			</tr>
			<tr>
				<td>Property Types</td><td>5+ Units on Multifamily, Mixed-Used, Commercial, Office, Retail, Social Club</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="residential-criteria hidden">
	<h3 id="loan-parameters-header">Residential Loan Parameters</h3>
	<table class="loan-parameters-table">
		<tbody>
			<tr>
				<td>Loan Amount</td><td>$100,000 to $200,000</td>
			</tr>
			<tr>
				<td>Loan Term/Amortization</td><td>Fixed 30 years loan fully amortizing</td>
			</tr>
			<tr>
				<td>Maximum LTV</td><td>60% LTV</td>
			</tr>
			<tr>
				<td>Subordinated Financing</td><td>No</td>
			</tr>
			<tr>
				<td>Minimum Fico Score</td><td>No Minimum</td>
			</tr>
			<tr>
				<td>Eligible Borrower</td><td>Individual C-Corp, LLC, LP/LLP, S-Corp</td>
			</tr>
			<tr>
				<td>Tax and Insurance Escrows</td><td>Yes</td>
			</tr>
			<tr>
				<td>Guaranty</td><td>Full Recourse Loan</td>
			</tr>
			<tr>
				<td>Prepayment</td><td>None</td>
			</tr>
			<tr>
				<td>Transaction Type</td><td>Purchase, Refinance</td>
			</tr>
			<tr>
				<td>Property Types</td><td>SFR, Duplex, Triplex, Fourplex</td>
			</tr>
			<tr>
				<td>Brokers</td><td>Protected</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
<!-- </div> -->

<!-- <div class="col-md-6 col-md-offset-3 criteria-table-wrapper">
	<h3>Loan Parameters</h3>
	<table class="loan-parameters-table">
		<tbody>
			<tr>
				<td>Loan Size</td><td>Two</td>
			</tr>
			<tr>
				<td>Loan Term</td><td>Two</td>
			</tr>
			<tr>
				<td>Loan Category</td><td>Two</td>
			</tr>
			<tr>
				<td>Payments</td><td>Two</td>
			</tr>
			<tr>
				<td>Down Payment</td><td>Two</td>
			</tr>
			<tr>
				<td>Security</td><td>Two</td>
			</tr>
			<tr>
				<td>Time to Close</td><td>Two</td>
			</tr>
			<tr>
				<td>Lending Areas</td><td>Two</td>
			</tr>
		</tbody>
	</table>
</div> -->

<!-- lastly we want the table -->



	<!-- <div class="row loan-parameters">
		
		<div class="col-md-9 padded-container">
			<div class="col-md-6">
			<h4>Loan Types: </h4>
			</div>
		<div class="col-md-6">
			<h4>Another Thing: </h4>
		</div>
		</div>
		<div class="col-md-3 interest-rates">
			<h2>Interest Rates 7.9% to 9.9%</h2>
		</div>

	</div> -->
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
		$("#residential-button").click(function () {
			$("#investment-button").removeClass("active");
			$(".investment-criteria").fadeOut(400, function() {
				$(".investment-criteria").hide()
				$(".residential-criteria").show()
			})
			$("#residential-button").addClass("active");
			//$(".residential-criteria").removeClass("hidden");
		})

		$("#investment-button").click(function () {
			$("#residential-button").removeClass("active");
			$(".residential-criteria").fadeOut(400, function() {
				$(".residential-criteria").hide()
				$(".investment-criteria").show()
			})
			$("#investment-button").addClass("active");
		})

		// trigger click based on url
		var type = window.location.href.split("#")[1]
		if (type === "investment") {
			$("#investment-button").addClass("active");
			$(".residential-criteria").hide()
			$(".residential-criteria").removeClass("hidden");
		} else {
			$("#residential-button").addClass("active");
			$(".investment-criteria").hide()
			$(".residential-criteria").removeClass("hidden");
		}
		console.log(window.location.pathname);
</script>
{% endblock %}