{% extends './layout.html' %}

{% block borrowers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Loan Criteria</h2>
	<i class="fa fa-list-ol cm-icon"></i>
	</div>
	</div>
</div>
<div class="img-background">
<div class="container criteria-container">
	<div class="col-md-10 col-md-offset-1">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->

<!-- First we want the interest rate -->

<!-- <div class="box effect2">
	<h2>Interest Rates 7.9% to 9.9%</h2>
</div> -->

<!-- next we want some quick facts -->
<div class="row interest-info-row">
	<div class="col-md-4">
		<h4 class="criteria-header">Property Types</h4>
		<hr class="criteria-hr">
		<ul>
			<li>Single family (SFR)</li>
			<li>2 – 4 Family (Multi-Family)</li>
			<li>Commercial</li>
			<li>Land</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h4 class="criteria-header">Loan Types</h4>
		<hr class="criteria-hr">
		<ul>
			<li>Single family (SFR)</li>
			<li>2 – 4 Family (Multi-Family)</li>
			<li>Commercial</li>
			<li>Land</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h4 class="criteria-header">Transaction Types</h4>
		<hr class="criteria-hr">
		<ul>
			<li>Single family (SFR)</li>
			<li>2 – 4 Family (Multi-Family)</li>
			<li>Commercial</li>
			<li>Land</li>
		</ul>
	</div>
</div>

<!-- <div class="col-md-6 col-md-offset-3 criteria-table-wrapper"> -->
<div class="box2 effect8">
	<h3 id="loan-parameters-header">Loan Parameters</h3>
	<h3>Interest Rates 7.9% to 9.9%</h3>
	<table class="loan-parameters-table">
		<tbody>
			<tr>
				<td>Loan Size</td><td>$100,000 – $3 million</td>
			</tr>
			<tr>
				<td>Loan Term</td><td>6 -12 Month Terms – Extensions available at lender discretion</td>
			</tr>
			<tr>
				<td>Loan Category</td><td>Private Commercial (“Hard Money”)</td>
			</tr>
			<tr>
				<td>Payments</td><td>Payments are interest-only due every 30 days, 1st mortgages only</td>
			</tr>
			<tr>
				<td>Down Payment</td><td>Minimum of 5% down payments on total cost, determined by scenario</td>
			</tr>
			<tr>
				<td>Security</td><td>1st Mortgage Loans Only</td>
			</tr>
			<tr>
				<td>Time to Close</td><td>5 – 7 Business Days – Subject to Title</td>
			</tr>
			<tr>
				<td>Lending Areas</td><td>Massachusetts, New Hampshire, Maine, Connecticut, and others available depending on area/loan scenario</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- </div> -->

<!-- <div class="col-md-6 col-md-offset-3 criteria-table-wrapper">
	<h3>Loan Parameters</h3>
	<table class="loan-parameters-table">
		<tbody>
			<tr>
				<td>Loan Size</td><td>Two</td>
			</tr>
			<tr>
				<td>Loan Term</td><td>Two</td>
			</tr>
			<tr>
				<td>Loan Category</td><td>Two</td>
			</tr>
			<tr>
				<td>Payments</td><td>Two</td>
			</tr>
			<tr>
				<td>Down Payment</td><td>Two</td>
			</tr>
			<tr>
				<td>Security</td><td>Two</td>
			</tr>
			<tr>
				<td>Time to Close</td><td>Two</td>
			</tr>
			<tr>
				<td>Lending Areas</td><td>Two</td>
			</tr>
		</tbody>
	</table>
</div> -->

<!-- lastly we want the table -->



	<!-- <div class="row loan-parameters">
		
		<div class="col-md-9 padded-container">
			<div class="col-md-6">
			<h4>Loan Types: </h4>
			</div>
		<div class="col-md-6">
			<h4>Another Thing: </h4>
		</div>
		</div>
		<div class="col-md-3 interest-rates">
			<h2>Interest Rates 7.9% to 9.9%</h2>
		</div>

	</div> -->
</div>
</div>
</div>
{% endblock %}