{% extends './layout.html' %}

{% block resources-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Loan Information and Glossary</h2>
	<i class="fa fa-book cm-icon"></i>
	</div>
	</div>
</div>

<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2">
		<!-- <h2 class="team-header">FAQ</h2><hr class="hr-visible"> -->


{% for entity in questions %}
	{% for term in entity %}
		{% if loop.first %}
		<h4>{{ term.val }}</h4>
		{% else %}
		<p>{{ term.val }}</p>
		{% endif %}
	{% endfor %}
	<br>
{% endfor %}

<!-- <h4>What is a hard money loan?</h4>
<p>
Hard money loans are loans secured by real estate. At RCN Capital, loans are backed by non-
owner occupied real estate. Per RCN’s guidelines, the amount of the loan cannot exceed 80% of 
the purchase price or “as-is” value of the real estate used as collateral. In some cases, multiple 
non-owner occupied properties are cross-collateralized in order to secure the needed loan 
amount.
</p><br>

<h4>
What is a commercial loan?
</h4>

<p>
Commercial loans are used for business purposes, rather than individual or personal interests. At 
RCN Capital, we only make commercial loans that are secured by non-owner occupied 
residential and commercial real estate.
</p><br>

<h4>
What is a bridge loan?
</h4>

<p>
A bridge loan is typically interim alternative financing used by a business until more 
conventional financing is secured. The bridge loan may also be used to cover short-term cash-
flow issues.
</p><br> -->


<hr class="hr-visible">
<h3>
Glossary
</h3><br>

{% for entity in terms %}
	<p>
	{% for term in entity %}
		{% if loop.first %}
		<b>{{ term.val }}</b> - 
		{% else %}
		{{ term.val }}
		{% endif %}
	{% endfor %}
	</p>
{% endfor %}
<!-- 
<p>
<b>Appraisal</b> - A carefully documented estimate of property value. This is prepared by a licensed appraiser who 
analyzes recent sale prices of similar/comparable properties.
</p>
<p>
<b>Assignee</b> - 

One to whom a transfer of an interest or property is done.  This is also known as Assigns.

</p>

<p>
<b>Assignment</b> - 

The written transfer of an interest in a lease of mortgage. The lessee, or assignor transfers the 

remainder of the term and the assignee becomes liable to the original lessor for the rent. For 

example: When ownership of your mortgage is transferred from one company or individual to 

another, it is called an assignment.

</p>

<p>
<b>Bridge Loan</b> - 

Bridge loans are loans intended to be used for a short period of time between the initial 

requirement for funds and a permanent, usually less costly, financial solution.
</p>

<p>
<b>Broker</b> - 

A broker is an intermediary who handles paperwork & forms, negotiates rates,  legal items and 

serves the borrower.

</p>

<p>
<b>Closing Costs</b> - 

The expenses which borrowers incur to complete the loan transaction. These costs may include 

title searches, title insurance, closing fees, recording fees, processing fees, & other charges.

</p>

<p>
<b>Deed of Trust</b> - 

A three party security instrument conveying the legal title to real property as security for the 

repayment of a loan. The three parties included in a deed of trust are the borrower, lender, and 

trustee.
</p>


<p>
<b>Escrow</b> - 

An item of value, money, or documents deposited with an impartial third party to be delivered 

upon the fulfillment of a condition. Escrow acts as the custodian for the documents and funds 

involved - and makes disbursements, delivers documents and effects the consequential changes 

to the title record of the subject property.
</p>

<p>
<b>Hard Money</b> - 

A hard money loan (also known as rehab or bridge loan) is financing from a private individual or 

group that is based on the current equity in the home.  This money can be used for the purchase 

of real estate by investors.  Hard money loans are generally sought after by people having trouble 

obtaining loans from conventional sources. 
</p>

<p>
<b>Lien</b> - 

The claims of debt, judgment, mortgage or taxes brought against a property. Examples of types 

of liens would include judgments, mortgages, and unpaid taxes.
</p>

<p>
<b>LTV: Loan to Value</b> - 

The simple ratio of the requested loan amount against the market value of the property being 

used as collateral. A property valued at $200,000 with a loan request against the asset of 

$100,000 would have a loan-to-value ratio of 50%.
</p>

<p>
<b>Market Value</b> - 

The current value of property as determined by factoring in location, assets, demand & supply.

</p>

<p>
<b>Notice of Default</b> - 

A notice sent to the wrongful party as recognition of a default made. This is the first phase of the 

two step foreclosure process in most States.

<p>
<b>Origination</b> - 

1.The starting date of a loan.

2. The process leading to the start of a loan.
<p>

<p>
<b>Points</b> - 

A fee paid upfront on a loan that is incurred at the time of the loan. A point is equal to 1% of the 

amount of the mortgage.
</p>

<p>
<b>Probate</b> - 

The process of establishing the validity of a will before a duly authorized court or person. Once 

validity is confirmed, the probate court then administers the sale of property as directed by the 

will or as authorized by the court to settle any financial obligations. 
</p>

<p>
<b>Trustee</b> - 

One who holds property in trust for another to secure performance of an obligation, the neutral 

party in a trust deed transaction.
</p>

<p>
<b>Underwriting</b> - 

The process that lenders go through to evaluate the risks posed by a particular borrower and to 

set appropriate conditions for the loan. This is based on the criteria of assets, credit, income, 

employment, etc.
</p> -->
<br>
	</div>
</div>
{% endblock %}