<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>County Mortgage, LLC</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/png" href="../img/favicon.png"/>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/icomoon-social.css">
        <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/index.css">
        <!-- <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'> -->
        <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        {% block css %}
        {% endblock %}

        <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>


    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">
        {% block header %}
        <div class="mainmenu-outer-wrapper">
    
            <div class="mainmenu-wrapper {% block home-active-border-1 %}{% endblock %}">
                <div class="logo-wrapper"><a href="/"><img src="../img/logo.gif" height="100" width="100" class="logo-img"></img></a><a href="/"><span class="brand-span-1">County</span><span class="brand-span-2">Mortgage</span><span class="brand-span-3">LLC</span><span class="phone-span">NMLS # {{ meta.nmlsNumber }}</span></a></div>
<!--                     <div class="menuextras">
                        <div class="extras">
                            <ul>
                                <li><a href="login">Login</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <nav id="mainmenu" class="mainmenu">
                        <ul>
                            <li id="home-nav-link" {% block home-active %}{% endblock %}>
                                <a class="navbar-link" href="/">HOME</a>
                            </li>
                            <li {% block about-active %}{% endblock %}>
                                <div id="about-dropdown" class="dropdown">
                                    <a class="nav-header-link navbar-link">ABOUT</a>
                                    <div class="dropdown-menu">
                                        <a href="about">About Us</a>
                                        <a href="team">Our Team</a>
                                    </div>
                                </div>
                            </li>
                            <li {% block borrowers-active %}{% endblock %}>
                                <div id="borrowers-dropdown" class="dropdown">
                                    <a class="nav-header-link navbar-link">BORROWERS</a>
                                    <div class="dropdown-menu">
                                        <a href="transactions">Recent Transactions</a>
                                        <a href="{{ meta.paymentLink }}" target="_blank">Payment Portal</a>
                                        <a href="loan-criteria#investment">Loan Criteria</a>
                                        <a href="owner-occupied">Owner Occupied <br> 1-4 Family</a>
                                        <a href="commercial">Commercial</a>
                                        <a href="construction">Construction</a>
                                        <a href="counselors">HUD Approved Counselors</a>

                                        
                                    </div>
                                </div>
                            </li>
                            <li {% block brokers-active %}{% endblock %}>
                                <div id="brokers-dropdown" class="dropdown">
                                    <a class="nav-header-link navbar-link">BROKERS</a>
                                    <div class="dropdown-menu">
                                        <a href="transactions">Recent Transactions</a>
                                    </div>
                                </div>
                            </li>
                            <li {% block resources-active %}{% endblock %}>
                                <div id="resources-dropdown" class="dropdown">
                                    <a class="nav-header-link navbar-link">RESOURCES</a>
                                    <div class="dropdown-menu" id="resources-dropdown-menu">
                                        <a href="glossary">Glossary</a>

                                        <div id="application-resources-dropdown">
                                        <a id="borrower-application-popout">Borrower Application Documents</a>
                                        <div id="application-resources-dropdown-side">
                                        <div class="dropdown-menu">
                                            <a href="../pdf/Loan_Application_Form.pdf" target="_blank">Uniform Residential Loan Application</a>
                                            <a href="../pdf/Personal_Finance_Statement.pdf" target="_blank">Personal Finance Statement</a>
                                            <a href="../pdf/Schedule_of RentsLeases.pdf" target="_blank">Schedule of Leases/Rents</a>
                                            <a href="../pdf/Borrowers_Certification.pdf" target="_blank">Borrowers Certification</a>
                                            <a href="../pdf/Zero_Tolerance_Loan_Fraud_Agreement.pdf" target="_blank">Zero Tolerance Loan Fraud Agreement</a>
                                        </div>
                                        </div>
                                        </div>
                                        <a href="servicing-disclosure">Servicing Disclosure</a>
                                        <a href="appraisers-list">Appraisers List</a>
                                        <a href="closing-lawyers">Closing Lawyers List</a>
                                        <a href="../pdf/Consumer_Counseling_Guide.pdf" target="_blank">Consumers Guide to Obtaining a Mortgage</a>
                                        <a href="credit-bureau">Credit Bureau Websites</a>
                                        <a href="mass-buyer-info">Online Resources</a>
                                        
                                    </div>
                                </div>
                            </li>
                            <li id="contact-nav-link"{% block contact-active %}{% endblock %}>
                                <a class="navbar-link" href="contact">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
            </div>
            </div>
        {% endblock %}


        <div class="content-wrapper">
        {% block content %}

        {% endblock %}
        

        <div class="push"></div>
        </div>
        </div>

        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="row">
                       <div class="col-footer col-md-3 col-xs-6">
                            <h3>View Recent Transactions</h3>
                            <div class="portfolio-item">
                                <div class="portfolio-image">
                                    <a href="transactions"><img src="img/house.jpg" alt="Recent Transactions"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-footer col-md-4 col-xs-6">
                            <h3>Navigate</h3>
                            <ul class="no-list-style footer-navigate-section">
                                <li><a href="about">About</a></li>
                                <li><a href="loan-criteria">Loan Criteria</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="{{ meta.paymentLink }}" target="_blank">Payment</a></li>
                                <li><a href="glossary">Glossary</a></li>
                                <li><a href="servicing-disclosure">Servicing Disclosure</a></li>
                                <li><a href="../pdf/Anti-Money_Laundering_Policy.pdf" target="_blank">Anti-Money Laundering Policy​</a></li>
                                <li><a href="privacy-policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-footer col-md-5 col-xs-6">
                            <h3>Contacts</h3>
                            <p class="contact-us-details">
                                <b>Address:</b> {{ meta.address }}<br/>
                                <b>Phone:</b> {{ meta.phone }}<br/>
                                <b>Fax:</b> {{ meta.fax }}<br/>
                                <b>Email:</b> <a href="mailto:{{ meta.email }}">{{ meta.email }}</a>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endblock %}



        <!-- Javascripts -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script> -->
        <script src="/js/jquery.fitvids.js"></script>
        <script src="/js/jquery.sequence-min.js"></script>
        <script src="/js/jquery.bxslider.js"></script>
        <script src="/js/jquery-dropdown.js"></script>
        <script src="/js/main-menu.js"></script>
        <script src="/js/template.js"></script>
        {% block js %}
        {% endblock %}

    </body>
</html>
