{% extends './layout.html' %}

{% block resources-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Online Resources</h2>
	<i class="fa fa-globe cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2 padded-top">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->


  <p><b>The following links provide information on buying your first home:</b></p><br>

  <ul>

  {% for entity in entities %}
<li><a href="{{ entity[1].val }}" target="_blank">{{ entity[0].val }}</a></li>
{% endfor %}
<!-- <li><a href="http://www.mass.gov/portal/articles/buying-a-home-in-massachusetts.html" target="_blank">Buying a Home</a></li>
<li><a href="http://www.mass.gov/hed/housing/affordable-own/first-time-home-buyer-fthb.html" target="_blank">First Time Home Buyer</a></li> -->
</ul>

	</div>
</div>
{% endblock %}