{% extends './layout.html' %}

{% block borrowers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Owner Occupied 1-4 Family</h2>
	<i class="fa fa-users cm-icon"></i>
	</div>
	</div>
</div>

<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">

<h4>Do I need to work with a mortgage broker?</h4>
<ul><li>
You must work with a licensed mortgage broker. For a list of licensed mortgage brokers in Massachusetts, click here (to some list of all brokers in MA).</li></ul><br>

<h4>
How long does the loan application process take?
</h4>
<ul><li>
Most loans are closed within 4-6 weeks.
</li></ul><br>

<h4>
What areas does County service?
</h4>

<ul><li>
We close loans in Eastern Massachusetts, including Barnstable, Bristol, Dukes, Essex, Middlesex, Nantucket, Norfolk, Plymouth, Suffolk, and Worcester counties. If you are unsure of a property’s county, please refer to the County Locator link on our Resources page.
</li></ul><br>

<h4>
Can I use my own appraisal?
</h4>

<ul><li>
We require all owner-occupied 1-4 family properties to be appraised by an appraiser of our choosing.
</li></ul><br>

<h4>
Are there upfront fees?
</h4>

<ul><li>
You will only be responsible for the fees associated with the aforementioned appraiser.
</li></ul><br>

<h4>
Will a credit report be required?
</h4>
<ul><li>
Before the application process is completed we will be required to review your credit report. Your credit report needs to be obtained by and sent to us from your broker.  
</li></ul><br>

<h4>
What information will be required?
</h4>
<ul>
<li>
A 1003 loan application form</li>
<li>A credit report (to be obtained by your brother)</li>
<li>Proof of sufficient income based on verifiable income and all monthly expenses.</li>
</ul><br>
<h4>
What additional information may be required?
</h4>
	<p>Dependent on your situation, you may require forms such as:</p>
	<ul><li>
Divorce decrees, probate documents, employment contracts, and leases
</li></ul><br>

<h4>
How much can I borrow?
</h4>
<ul><li>
You can borrow up to 60% LTV (loan-to-value)
</li></ul><br>

	</div>
</div>
{% endblock %}