{% extends './layout.html' %}


{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Privacy Policy</h2>
	<i class="fa fa-comments-o cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2 padded-top">


<h3>Commitment to Consumer Privacy</h3>

<p>
From our first day of operation, County Mortgage, LLC (the "Lender") has been committed to handling Borrower information responsibly. We recognize and respect the privacy expectations of each of our Borrowers and we believe the confidentiality and protection of Borrower information is one of our fundamental responsibilities. New technologies have dramatically changed the way information is gathered and used, but our continuing commitment to preserving the security and confidentiality of Borrower information has remained a core value of the Lender.
</p><br>


<h3>Collection and Disclosure of Information</h3>
<p>
The Lender collects, retains and uses consumer information only where we reasonably believe it would be useful to the consumer and allowed by law. We only use such information to enhance, evaluate or modify a consumer's relationship with the Lender. We do not sell personal information about consumers to third parties.</p><br>

<p>
Consumer information collected by, or on behalf of the Lender generally comes from the following sources:</p>
<ul>
<li>Applications, other required forms, correspondence, written or electronic, or telephone
      contacts with Borrowers or consumers inquiring about the Lender or any of its series;</li>

<li>Transaction history of a Borrower's account; or</li>

<li>Third parties.</li>
</ul><br>
<p>
We may disclose consumer information to third parties who are not affiliated with the Lender:</p>
<ul>
<li>As permitted by law, for example with service providers who participate in the underwriting and  closing of loans (i.e. appraisers and surveyors, and title attorneys)</li>

<li>In connection with the assignment of loans to servicing companies.</li>

</ul><br>
<h3>Security of Customer Information</h3>
<p>
We require service providers to the Lender:</p>

<ul>
<li>To maintain policies and procedures designated to assure only appropriate access to information about customers of the Lender;</li>

<li>To limit the use of information about customers of the Lender to the purposes for which the information was disclosed, or as otherwise permitted by law; and</li>

<li>To maintain physical electronic and procedural safeguards that comply with federal standards to guard non public personal information of customers of the Lender.</li>
</ul><br><br><br><br>



<p style="float: right;"><b>Approved and Adopted June 14, 2001</b></p>



	</div>
</div>
{% endblock %}