{% extends './layout.html' %}

{% block brokers-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Servicing Disclosure</h2>
	<i class="fa fa-comments-o cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2 padded-top">
<!-- <h1>Recent Transactions</h1> -->
<!-- <hr> -->


<h4><b>DATE: <span class="service-span-1">COMMITMENT DATE</b></h4>

<h4><b>TRANSACTION: <span class="service-span-2">$LOAN AMOUNT First/Second Mortgage</span></b></h4>

<h4><b>PREMISES: <span class="service-span-3">PROPERTY ADDRESS</span></b></h4>

<h4><b>BORROWER: <span class="service-span-4">BORROWER NAME</span></b></h4>

<h4><b>LENDER: <span class="service-span-5">County Mortgage, LLC</b></h4>
<br>
<h3>SERVICING DISCLOSURE</h3>

<p>
NOTICE TO MORTGAGE LOAN APPLICANTS:  THE RIGHT TO COLLECT YOUR MORTGAGE LOAN 

PAYMENTS MAY BE TRANSFERRED.  FEDERAL LAW GIVES YOU CERTAIN RELATED RIGHTS.  READ THIS 

STATEMENT AND SIGN IT ONLY IF YOU UNDERSTAND ITS CONTENTS.
</p>

<p>

Because you are applying for a mortgage loan covered by the Real Estate Settlement Procedure Act (RESPA) (12 

U.S.C. Section 2601 et.seq.) you have certain rights under that Federal Law.  This statement tells you about those 

rights.  It also tells you what the chances are that the servicing for this loan may be transferred to a different loan 

servicer.  Servicing refers to collecting your principal, interest and escrow account payments, if any.  If your loan 

servicer changes, there are certain procedures that must be followed.  This statement generally explains those 

procedures.

</p><br>

<h3>Transfer practices and requirements</h3>

<p>

If the servicing of your loan is assigned, sold, or transferred to a new servicer, you must be given written notice of that 

transfer.  The present loan servicer must send you notice in writing of the assignment, sale or transfer of the servicing 

not less than 15 days before the effective date of the transfer.  The present servicer and the new servicer may 

combine this information in one notice, so long as the notice is sent to you 15 days before the effective date of 

transfer.  The 15 day period is not applicable if a notice of prospective transfer is provided to you at settlement.  The 

law allows a delay in the time (not more than 30 days after a transfer) for servicers to notify you under certain limited 

circumstances, when your servicer is changed abruptly.  This exception applies only if your servicer is fired for cause, 

is in bankruptcy proceedings, or is involved in a conservatorship or receivership initiated by a Federal agency.

</p>

<p>
Notices must contain certain information.  They must contain the effective date of the transfer of the servicing of your 

loan to the new servicer, the name, address, and toll-free or collect call telephone number of the new servicer, and 

toll-free or collect call telephone numbers of a person or department for both your present servicer and your new 

servicer to answer your questions about the transfer of servicing.  During the 60-day period following the effective 

date of the transfer of the loan servicing, a loan payment received by your old servicer before its due date may not be 

treated by the new loan servicer as late, and a late fee may not be imposed on you.
</p><br>

<h3>Complaint Resolution</h3>

<p>

Section 6 of RESPA (12 U.S.C. Section 2605) gives you certain consumer rights, whether or not your loan servicing 

is transferred.  If you send a "qualified written request" to your loan servicer concerning the servicing of your loan, 

your servicer must provide you with a written acknowledgement within 20 business days of receipt of your request.  A 

"qualified written request" is a written correspondence, other than notice on a payment coupon or other payment 

medium supplied by the servicer, which includes your name and account number, and your reason for the request.  

Not later than 60 business days after receiving your request, your servicer must make any appropriate corrections to 

your account, or must provide you with a written clarification regarding any dispute.  During this 60 business day 

period, your servicer may not provide information to a consumer reporting agency concerning any overdue payment 

related to such period or qualified written request.
<p>

<p>
A Business Day is any day excluding public holidays (State or Federal), Saturday and Sunday.
</p><br>

<h3>Damages and Costs</h3>
<p>

Section 6 of RESPA also provides for damages and costs for individuals or classes of individuals in circumstances 

where servicers are shown to have violated the requirements of that Section.
</p><br>
	</div>
</div>
{% endblock %}