{% extends './layout.html' %}

{% block about-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>The County Mortage Team</h2>
	<i class="fa fa-users cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
		<!-- <h2 class="team-header">The County Mortage Team</h2><hr class="hr-visible"> -->
		<div class="team-container">
			<div class="employee-container col-md-6">
				<h4 class="name">Stuart N. Cole</h4>
				<p>Stuart@Countymtg.com</p>
			</div>

			<div class="employee-container col-md-6">
				<h4 class="name">David Azanow</h4>
				<p>David@Countymtg.com</p>
			</div>

			<div class="employee-container col-md-6">
				<h4 class="name">Simmy Gramolini</h4>
				<p>Admin@Countymtg.com</p>
			</div>

			<div class="employee-container col-md-6">
				<h4 class="name">Michael Dessailly</h4>
				<p>Escrow@Countymtg.com</p>
			</div>
		</div>





	</div>
</div>
{% endblock %}