{% extends './layout.html' %}

{% block about-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>The County Mortage Team</h2>
	<i class="fa fa-users cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
		<!-- <h2 class="team-header">The County Mortage Team</h2><hr class="hr-visible"> -->
		
		<div class="employee-container">
			<h4 class="name">John Mayor</h4>
			<h4 class="position">CEO</h4>

			<p class="blurb">Joel has over 12 years experience structuring commercial real estate loans. His experience as both an owner and lender affords him the ability to bring the best structured arrangements possible for his clients.  Additionally, as a developer and builder here in New Jersey, Mr. Kraut has significant information to share with clients in the subdivision, approval & regulatory processes.  Joel is responsible for overseeing all aspects of Alpha Capital Advisers which was set up to handle commercial loan brokerage.</p>

			<p class="blurb">Joel has over 12 years experience structuring commercial real estate loans. His experience as both an owner and lender affords him the ability to bring the best structured arrangements possible for his clients.  Additionally, as a developer and builder here in New Jersey, Mr. Kraut has significant information to share with clients in the subdivision, approval & regulatory processes.  Joel is responsible for overseeing all aspects of Alpha Capital Advisers which was set up to handle commercial loan brokerage.</p>

			<p>mjohnny@gmail.com</p>
		</div>

		<div class="employee-container">
			<h4 class="name">Mike Dessailly</h4>
			<h4 class="position">Village Peon</h4>

			<p class="blurb">Joel has over 12 years experience structuring commercial real estate loans. His experience as both an owner and lender affords him the ability to bring the best structured arrangements possible for his clients.  Additionally, as a developer and builder here in New Jersey, Mr. Kraut has significant information to share with clients in the subdivision, approval & regulatory processes.  Joel is responsible for overseeing all aspects of Alpha Capital Advisers which was set up to handle commercial loan brokerage.</p>

			<p class="blurb">Joel has over 12 years experience structuring commercial real estate loans. His experience as both an owner and lender affords him the ability to bring the best structured arrangements possible for his clients.  Additionally, as a developer and builder here in New Jersey, Mr. Kraut has significant information to share with clients in the subdivision, approval & regulatory processes.  Joel is responsible for overseeing all aspects of Alpha Capital Advisers which was set up to handle commercial loan brokerage.</p>

			<p>mjohnny@gmail.com</p>
		</div>



	</div>
</div>
{% endblock %}