{% extends './layout.html' %}

{% block about-active %}class="active"{% endblock %}

{% block content %}
<div class="cm-header">
	<div class="container padded-container">
	<div class="col-md-10 col-md-offset-1">
	<h2>The County Mortage Team</h2>
	<i class="fa fa-users cm-icon"></i>
	</div>
	</div>
</div>
<div class="container padded-container">
	<div class="col-md-8 col-md-offset-2">
		<!-- <h2 class="team-header">The County Mortage Team</h2><hr class="hr-visible"> -->
		<div class="team-container">

			{% for entity in entities %}
				<div class="employee-container col-md-6">
					{% for term in entity %}

						{% if loop.first %}
							<h4 class="name">{{ term.val }}</h4>
						{% else %}
							<p>{{ term.val }}</p>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>

	</div>
</div>
{% endblock %}