

h2 {
	border-bottom: none;
}

/*body {
	background: url(../img/page-background.png);
}*/

.logo-img {
	margin-top: -175px;
}

.footer {
	height: 300px; /* .push must be the same height as .footer */
}

.push {
	height: 135px;
}


.brand-span-1 {
	position: absolute;
	margin-top: -75px;
	font-size: 34px;
	margin-left: -6px;
	color: rgb(31, 62, 152);
	font-family: 'Lora', serif;
}

.brand-span-2 {
	position: absolute;
	margin-top: -40px;
	font-size: 34px;
	margin-left: -43px;
	color: rgb(31, 62, 152);
	font-family: 'Lora', serif;
}

.brand-span-3 {
	position: absolute;
	margin-top: 0px;
	font-size: 34px;
	margin-left: 47px;
	color: rgb(31, 62, 152);
	font-family: 'Lora', serif;
}

.phone-span {
	position: absolute;
	margin-top: 0px;
	font-size: 17px;
	margin-left: -77px;
	color: rgb(31, 62, 152);
	font-family: 'Lora', serif;
}

.mainmenu > ul > li.active > div > a {
	color: #4f8db3;
	font-weight: 600 !important;
}

.mainmenu {
	margin-left: 25%;
	margin-top: -38px;
	transition: all .2s linear;
}

.nav-header-link {
	font-size: 1.2em;
	padding: 1.2em 1.5em;
	color: #999;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.nav-header-link:hover {
	color: #4f8db3;
	text-decoration: none;
}

.dropdown-menu {
	margin-top: 0px;
	border-radius: 0px;
	box-shadow: 0 8px 12px rgba(0,0,0,.175);
	border-top: none;
	min-width: 173px;
	/*padding: 0px;*/
	/*opacity: 0.93;*/
}

.dropdown:hover {
	box-shadow: 0 0px 12px rgba(0,0,0,.05);
}

.dropdown-menu > a {
	padding: 15px;
	display: inline-block;
	width: 100%;
	color: #999;
	/*border-radius: 2px;*/
}

.dropdown-menu > div > a {
	padding: 15px;
	display: inline-block;
	width: 100%;
	color: #999;
	/*border-radius: 2px;*/
}

.dropdown-menu > a.active {
	text-decoration: none;
	background-color: #DFECF5;
	color: #4f8db3;;
}

.dropdown-menu > div > a.active {
	text-decoration: none;
	background-color: #DFECF5;
	color: #4f8db3;;
}

.dropdown-menu > a:hover {
	text-decoration: none;
	background-color: #DFECF5;
	color: #4f8db3;;
}

.dropdown-menu > div > a:hover {
	text-decoration: none;
	background-color: #DFECF5;
	color: #4f8db3;;
}

@media screen and (min-width: 1540px) {
	.content-wrapper {
		border-left: 2px solid #4f8db3;
		border-right: 2px solid #4f8db3;
	}
}

@media screen and (max-width: 1199px) {
	.mainmenu {
		margin-left: 21%;
	}
}

@media screen and (max-width: 1050px) {
	.mainmenu {
		margin-left: 10%;
		margin-top: 15px;
		transition: none
	}
}

@media screen and (max-width: 479px) {
	.mainmenu > ul > li > div > a {
		display: block;
		padding: 1em 3em;
	}
}



.mainmenu-wrapper {
	padding-top: 137px;
	max-width: 1540px;
	min-width: 400px;
	margin: auto;
	border-bottom: 0px solid #4f8db3;
}

.mainmenu-wraper-home {
	border-bottom: none;
}

.harbor-image {
	background-image: url(../img/homepage-slider/skyline4.jpg);
}


.county-section-header {
	border: none;
	padding: 0px;
}


.county-footer {
	height: 100px;
	/*padding-bottom: 50px;*/
	bottom: 0;
	position: absolute;
}

.contact-form {
	margin-top: 40px;
	padding-right: 30px;
}

.portfolio-item {
	position: inherit;
}

.footer-padding {
	height: 70px;
}

.office-img {
	height: 406px;
	width: 465px;
	margin-bottom: 15px;
	border-radius: 2px;
	border: 1px solid #4f8db3;
}

.office-container {
	padding-top: 20px;
}

.logout-btn {
	float: right;
	margin-top: -50px;
}

.logo-wrapper {
	width: 100%;
	/*position: absolute;*/
}

.nav-tabs > li {
	font-size: 16px;
	font-weight: 600;
	padding: 8px;
	background-color: white;
	border: 1px solid grey;
	cursor: pointer;
	color: #4f8db3;
	text-align: center;
}

.nav-tabs > li.active {
	background-color: #4f8db3;
	color: white;

}

.criteria-tabs > .nav-tabs > li {
	font-size: inherit;
	font-weight: inherit;
	padding: inherit;
	background-color: inherit;
	border: inherit;
	cursor: pointer;
	color: #4f8db3;
	text-align: center;
}

.criteria-tabs > .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	/*background-color: #4f8db3;*/
	border: 1px solid #4f8db3;
	color: #3E8033;
	border-bottom: none;

}

.criteria-tabs {
	margin-top: 40px;
}

.transaction-img {
	height: 200px;
	width: 300px;
	border-radius: 2px;
	border: 1px solid #4f8db3;
	cursor: pointer;
	transition: all .15s linear;
}

.transaction-desc {
	transition: all .15s linear;
}

#sequence > .sequence-canvas > li.animate-in {
	/*background-position: -290px 0;*/
}

.home-about-header {
	text-align: center;
	color:white;
}

.home-services-header {
	text-align: center;
	color: #2f556d;
}

.home-testimonials-header {
	text-align: center;
	color: #2f556d;
	margin-bottom: 40px;
}

.about-section {
  background-color: #4f8db3;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -30px;
  /*border-top: 4px solid rgb(32, 71, 106);*/
  /*border-bottom: 2px solid grey;*/

}

.home-about-link {
	color: #2f556d;
	font-size: 1.1em;
	text-decoration: none;
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.home-about-link:hover {
	color:black;
	text-decoration: none;
}

.services-section {
  background: url(../img/page-background.png);

}

.home-services-icon {
	font-size: 64px;
	color: #4f8db3;
	color: #3E8033;
}

.service-wrapper:hover {
	box-shadow: 0px 0px 17px rgba(0,0,0,.5);
	/*background-color: #E7F6FF;*/
	cursor: pointer;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.testimonial-section {
	padding-top: 30px;
	background-color: white;
}

.home-testimonial a {
	color: #a0a7ac;
	font-size: 1.3em;
	font-family: Georgia, serif;
	line-height: 28px;
	position: relative;
	padding-left: 16px;
	padding-bottom: 32px;
	margin-bottom: 15px;
	display: block;
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
	-ms-transition: color .25s linear;
	transition: color .25s linear;
}


.home-testimonial a:hover {
color: #4f8db3;
text-decoration: none;
}

.home-testimonial a:before {
content: "\201C";
margin-left: -16px;
font-size: 2.2em;
}

.home-testimonial a:after {
content: '-Mr Bones Jones, Financial Advisor';
display: block;
position: absolute;
bottom: -10px;
right: 20px;
}

.borrower-testimonial {
	color: #a0a7ac;
	font-size: 1.3em;
	font-family: Georgia, serif;
	line-height: 28px;
	position: relative;
	padding-left: 16px;
	padding-bottom: 32px;
	margin-bottom: 15px;
	padding-left: 50px;
	display: block;
	border-left: 0px solid #4f8db3;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-o-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .15s linear;
	border-radius: 2px;
}

.borrower-testimonial:hover {
	color: #4f8db3;
	text-decoration: none;
	padding-left: 40px;
	border-left: 5px solid #4f8db3;
	border-radius: 14px;
}

.testimonial-name {
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-o-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

.testimonial-hr {
	margin-top: 20px;
	margin-bottom: 40px;
	border: 0;
	border-top: 1px solid #eee;
	width: 80%;
}

.borrower-testimonial:hover .testimonial-name {
	margin-left: 5%;
}

.borrower-testimonial p:before {
	content: "\201C";
	margin-left: -16px;
	font-size: 2.2em;
}

.testimonial-john a:after {
	content: '-John Bones, Financial Advisor';
}

.testimonial-peter a:after {
	content: '-Peter Baker, Financial Manager';
}

.testimonial-jane a:after {
	content: '-Jane Mckeedy, Financial Engineer';
}

.padded-container {
	padding: 30px;
}

.subtitle {
	margin-top: -35px;
	width: 30%;
}

.subtitle-top-text {
	color: black;
	font-size: 1.2em !important;
	left: 35%;
	/* width: 35%; */
	top: 40%;
	text-shadow: 2px 2px 3px #444;
}

.subtitle-bottom-text {
	font-style: italic;
	color: white;
}

#sequence .title {
	bottom: 63%;
}

.position {
	margin-top: -8px;
	margin-left: 10px;
	margin-bottom: 20px;
	color: #2f556d;
}

.name {
	font-weight: bold;
	color: #2f556d;
}

.hr-visible {
	border-top: 1px solid #4f8db3;
	margin-bottom: 40px;
	width: 91%;
}

.team-header {
	padding-left: 0px;
	text-align: center;
}

.team-container {
	margin-top: 30px;
}

.employee-container {
	padding-left: 25px;
	border-left: 5px solid #4f8db3;
	margin-bottom: 55px;
	border-radius: 14px;
}

h2 {
	padding-left: 0px;
}

.cm-header {
	background: url(../img/corporate_background3.jpg);
	border-bottom: 2px solid #4f8db3;

}

.cm-header h2 {
	margin: 0px;
	color: #2f556d;
	/*margin-left: 70px;*/
}

.transaction-container {
	/*border-right: 5px solid #4f8db3;*/
	margin-bottom: 55px;
	/*border-radius: 14px;*/
	/*width:70%;*/
	/*height:200px;*/
	background:#FFF;
	padding: 25px;
	transition: all .15s linear;
}


.contact-container {
	background: url(../img/page-background.png);
}


@media screen and (max-width: 991px) {
	.footer {
		height: 500px; /* .push must be the same height as .footer */
	}
	.push {
		height: 135px;
	}
}

@media screen and (max-width: 400px) {
	.footer {
		height: 550px; /* .push must be the same height as .footer */
		width: 400px;
	}

	.
	.push {
		height: 135px;
	}
	.office-img {
		height: 306px;
		width: 340px;
	}
	#resources-dropdown-menu {
		left: -67px;
	}

	.mainmenu-outer-wrapper {
		width: 400px;
	}
}

@media screen and (max-width: 820px) {
/*	.navbar-link {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}*/
	.mainmenu {
		margin-left: 1%;
	}
}


@media screen and (max-width: 715px) {
	.navbar-link {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

@media screen and (max-width: 565px) {
/*	.navbar-link {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}*/
	.mainmenu {
		transition: none;
	}

	#home-nav-link {
		display: none;
	}
/*	.phone-span {
		margin-top: -30px;
		font-size: 24px;
		margin-left: 40%;
	}*/
}

@media screen and (max-width: 505px) {
/*	.navbar-link {
		padding-left: 3px !important;
		padding-right: 3px !important;
	}*/
}




.padded-top {
	margin-top: 30px;
}

.padded-top-large {
	margin-top: 80px;
}

.about-paragraph {
	font-size: 16px;
  	line-height: 1.4;

}

.login-form {
	margin-bottom: 150px;
}

.interest-rates {
	/*border-left: 2px solid #4f8db3;
	border-right: 2px solid #4f8db3;*/
	/*z-index: 10;*/
	/*background-color: #4f8db3;*/
	text-align: center;
	box-shadow: 0px 10px 10px black;
	margin: auto;
	overflow: hiden;
	padding-left: 20px;
	padding-right: 20px;
}

.interest-rates > h2 {
	/*color: white;*/
}

.loan-parameters {
	background: url(../img/page-background.png);
	border-left: 2px solid #4f8db3;
}

.img-background {
	/*background: url(../img/page-background.png);*/
	color: #2f556d;
}
/*
.img-background {
   position: relative;
   color: #2f556d;
}
.img-background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/page-background.png);
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}*/


.box h2{
	text-align:center;
	position:relative;
	top:15px;
	color: #2f556d;
}
.box {
	width:70%;
	height:100px;
	background:#FFF;
	margin:40px auto;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #2f556d;
  -webkit-box-shadow: 0 15px 10px #2f556d;
  -moz-box-shadow: 0 15px 10px #2f556d;
  box-shadow: 0 15px 10px #2f556d;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.criteria-header {
	text-align: center;
}

.interest-info-row {
	/*background: url(../img/corporate_background3.jpg);*/
	margin-top: 70px;
	margin-bottom: 50px;
	/*border-radius: 4px;*/
	/*padding: 15px;*/
	/*border: 2px solid #4f8db3;*/
}

.criteria-hr {
	margin-top: 5px;
	border-top: 1px dotted #4f8db3;
}

.criteria-table-wrapper {

}

.loan-parameters-table td {
	padding: 12px;
	min-width: 140px;
}

.loan-parameters-table tr {
	border-bottom: 1px dotted #4f8db3;
}

.box2 h3{
	text-align:center;
	position:relative;
	top:40px;
}

#loan-parameters-header {
	text-decoration: underline;
}

.box2 table{
	position:relative;
	top: 65px;
	margin: auto;
}

.box2 {
	/*width:85%;*/
	/*height:500px;*/
	background:#FFF;
	margin:-22px auto;
	margin-bottom: 50px;
	padding: 0px 70px 130px 70px; 
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(47, 85, 109, 0.3), 0 0 40px rgba(47, 85, 109, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(47, 85, 109, 0.3), 0 0 40px rgba(47, 85, 109, 0.1) inset;
            box-shadow:0 1px 4px rgba(47, 85, 109, 0.3), 0 0 40px rgba(47, 85, 109, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(47, 85, 109,0.8);
    -moz-box-shadow:0 0 20px rgba(47, 85, 109,0.8);
    box-shadow:0 0 20px rgba(47, 85, 109,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.cm-icon {
	float: right;
	font-size: 2.7em;
	margin-top: -38px;
	margin-right: 11%;
	color: #2f556d;
	color: #3E8033;
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
	z-index: -1;	
	position: absolute;
	content: "";
	bottom: 15px;
	right: 4px;
	left: auto;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #4f8db3;
	-moz-box-shadow: 0 15px 10px #4f8db3;
	box-shadow: 0 15px 10px #4f8db3;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.effect4:before
{
	z-index: -1;
	position: absolute;
	content: "";
	top: 19px;
	left: 9px;
	right: auto;
	width: 70%;
	bottom: 45%;
	max-width: 479px;
	background: #777;
	-webkit-box-shadow: 0 -15px 10px #4f8db3;
	-moz-box-shadow: 0 -15px 10px #4f8db3;
	box-shadow: 0 -15px 10px #4f8db3;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(1deg);
}

.update-order-wrapper {
	display: inline;
	float: right;
	/*background: url(../img/page-background.png);*/
}

.btn-default[disabled] {
	background-color: #4f8db3;
}

.btn-default[disabled]:hover {
	background-color: #4f8db3;
}

.search-bar {
	display: inline;
	width: 40%;
}

.message-wrapper {
	background: lightblue;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #4f8db3;
	margin-bottom: 50px;
	width: 75%;
}

.message-view-options-wrapper {
	display: inline;
	float: right;
}

.btn-inactive {
	background-color: white;
	color: #4f8db3;
}

.archive-btns-wrapper {
	float: right;
	margin-top: -20px;
}

.hidden {
	visibility: hidden;
}

#application-resources-dropdown-side {
	position: absolute;
	  top: 55px;
  	left: -172px;
}

.service-span-1 {
	padding-left: 183px;
}

.service-span-2 {
	padding-left: 100px;
}

.service-span-3 {
	padding-left: 139px;
}

.service-span-4 {
	padding-left: 123px;
}

.service-span-5 {
	padding-left: 158px;
}

.hud-table tr {
	border-bottom: 1px dotted #4f8db3;
}

.hud-table td {
	padding-top: 10px;
	padding-left: 10px;
}

.hud-table th {
	padding-top: 10px;
	padding-left: 10px;
}

.hud-table  {
	color: #2f556d;
}

.service-wrapper > p {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.service-wrapper > h3 {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.criteria-description {
	padding-top: 30px;
}



* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {

	/*box-shadow: 0 0px 12px rgba(0,0,0,.175);*/

}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    /*max-width: 1540px;*/
}



.entity-container {
		background: url(../img/page-background.png);
		padding: 20px;
		border-radius: 4px;
		border: 1px solid #4f8db3;
		margin: auto;
		margin-bottom: 50px;
		width: 75%;
}

.cancel-btn {
	float: right;
}

.content-wrapper {
	max-width: 1540px;
	min-width: 400px;
	margin: auto;

}

.mainmenu-outer-wrapper {
	border-bottom: 2px solid #4f8db3;
}

.saved {
	margin-left: 10px;
	margin-right: 10px;
	color: green;
}

