#home-header {
	background: transparent;
	border: none;
	z-index: 99999;
	margin-top: 50px;
}


.navbar-inverse .navbar-nav>li>a:hover {
	color: whitesmoke;
}

.navbar-inverse .navbar-brand:hover {
	color: whitesmoke;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	color: whitesmoke;
	background: transparent;
}

#home-header>li>a:hover {
	color: whitesmoke;
}

#hero {
	overflow: hidden;
	background: #4B4848;
	background-size: cover;
	background-image: url("http://farm9.staticflickr.com/8222/8254861601_1fbf969a14_b.jpg");
	/* background-image: url("../../images/bg2.png"); */
	/* background-image: url("../../images/bg3.png"); */
	/* background-image: url("http://25.media.tumblr.com/665f306a0a5a5eae6e0c91f33ce74695/tumblr_mzzqv2P7MY1st5lhmo1_1280.jpg"); */
	/* background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #5E8199, #153752 90%); */
	background-position: center 16%;
	height: 600px;
	position: relative;
	top: -120px;
	padding-top: 190px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

#hero .img {
	margin-left: 25%;
	border-radius: 30px;
	width: 300px;
	height: 300px;
	background-image: url("img/logo.gif");
	background-repeat: no-repeat;
	background-size: cover;
}


.navbar-brand .img {
	width: 300px;
	height: 300px;
	background-image: url("img/logo.gif");
	background-repeat: no-repeat;
	background-size: cover;
}